minimind-3-pytorch/
minimind-3/
out/
.venv/
.envrc
minimind_dataset
images/
__pycache__/
wandb/
mlruns/
.vscode/
checkpoints/
dataset/minimind_dataset/
dataset/*.jsonl
llm_data_engineering_playbook/
mlflow.db
deployment/mlflow/.env
deployment/mlflow/.secrets/
